<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head")  %> 
</head>
<body>
    
    <div class="container mt-3">
        <h1>products come</h1>
        <div class="row">
            <% products.forEach(p => { %>
                <div class="col-md-3">
                    <h1><%= p.name %></h1>
                </div>
            <% }) %>
            <div class="col-md-3">

            </div>

            <div class="col-md-3">
                <span class="badge bg-primary">Naber Can 3</span>
            </div>
            <div class="col-md-9">
                <button class="btn btn-warning">Canoooo</button>
            </div>
        </div>
    </div>

</body>
</html>