<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head")  %> 
</head>
<body>
    
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3">
                <span class="badge bg-primary">Naber Can 3</span>
            </div>
            <div class="col-md-9">
                <button class="btn btn-warning">Canoooo</button>
            </div>
        </div>
    </div>

</body>
</html>